<section class="title-section">
<div class="container">
  <center><img src="../../images/sushiScript.png" alt="sushiScript-logo image"><h1><%= title %></h1></center><br>
  <center><h5 class="sub"> <%= subtitle %></h5></center>
</div>
</section>

<section>

<div class="container">
  <div class="row d-flex justify-content-around">
    <div class="card col-md-6" style="max-width: 20rem;">
    <a href="/vocab">
    <div class="card-body">
    <center><div class="card-title icon-func"><i class="fas fa-book"></i></div></center>
    <center><h5 class="card-subtitle mb-2">Create vocabulary library!</h5></center>
    <p class="card-text text-muted">You can type and create your own vocab library</p>
    </div>
    </a>
    </div>

    <div class="card col-md-6" style="max-width: 20rem;">
    <a href="/flash-card">
    <div class="card-body">
    <center><div class="card-title icon-func"><i class="fas fa-flushed"></i></i></div></center>
    <center><h5 class="card-subtitle mb-2">Flash Cards!</h5></center>
    <p class="card-text text-muted">Memory test your vocabularies with flash cards</p>
    </div></a>
    </div></div>
    <div class="row d-flex justify-content-around">
    <div class="card col-md-6" style="max-width: 20rem;">
    <a href="#">
    <div class="card-body">
    <center><div class="card-title icon-func"><i class="fas fa-puzzle-piece"></i></div></center>
    <center><h5 class="card-subtitle mb-2">Puzzle</h5></center>
    <p class="card-text text-muted">Play a puzzle with your vocabularies.</p>
    </div></a>
    </div>

    <div class="card col-md-6" style="max-width: 20rem;">
    <a href="#">
    <div class="card-body">
    <center><div class="card-title icon-func"><i class="fas fa-gamepad"></i></div></center>
    <center><h5 class="card-subtitle mb-2">Quiz!</h5></center>
    <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div></a>
    </div>

</div>
</div> <!-- container -->
</section>