<section class="title-section">
<div class="container">
  <center><img src="../../images/sushiScript.png" alt="sushiScript-logo image"><h1><%= title %></h1></center><br>
  <center><h5 class="sub"> Sign up to create your own flashcards</h5></center>
</div>
</section>

<section>

<div class="container">
    <% if(user) { %>
  <div class="row d-flex justify-content-around">
    
    <div class="card col-md-6" style="max-width: 20rem;">
    <a href="/vocab">
    <div class="card-body">
    <center><div class="card-title icon-func"><i class="fas fa-book"></i></div></center>
    <center><h5 class="card-subtitle mb-2">Create vocabulary library!</h5></center>
    <p class="card-text text-muted">You can type and create your own vocab library</p>
    </div>
    </a>
    </div>

    <div class="card col-md-6" style="max-width: 20rem;">
    <a href="/flash-card">
    <div class="card-body">
    <center><div class="card-title icon-func"><i class="fas fa-flushed"></i></i></div></center>
    <center><h5 class="card-subtitle mb-2">Flash Cards!</h5></center>
    <p class="card-text text-muted">Memory test your vocabularies with flash cards</p>
    </div></a>
    </div></div>
    <div class="row d-flex justify-content-around">
    <div class="card col-md-6" style="max-width: 20rem;">
    <a href="#">
    <div class="card-body">
    <center><div class="card-title icon-func"><i class="fas fa-puzzle-piece"></i></div></center>
    <center><h5 class="card-subtitle mb-2">Puzzle</h5></center>
    <p class="card-text text-muted">Play a puzzle with your vocabularies.</p>
    </div></a>
    </div>

    <div class="card col-md-6" style="max-width: 20rem;">
    <a href="#">
    <div class="card-body">
    <center><div class="card-title icon-func"><i class="fas fa-gamepad"></i></div></center>
    <center><h5 class="card-subtitle mb-2">Quiz!</h5></center>
    <p class="card-text text-muted">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div></a>
    </div>
</div>
<% } else { %>
  <section style="margin-bottom: 50px;">
      <div class="container">
      <div class="row fcards">
     
     
        <% for (let i = 0; i < vocab.length; i++) {
                let values = Object.values(vocab[i]);
                let finalValues = Object.values(values[0]);
                let english = Object.keys(values[0]);
                let romaji = '';
                for (let k = 0; k < english.length; k++) {
                  let syllable = english[k].slice(2, 10);
                  romaji += syllable;
                }
                let hiragana = '';
                for (let j = 0; j < finalValues.length; j++) {
                  hiragana += finalValues[j];
                }
            %>
            
            <div class="col-sm-4 fcard">
              <div class="fcard__side fcard__side--front fcard__side--front-1">
                <div class="fcard__description"><%= Object.keys(vocab[i]) %></div>
              </div>
              <div class="fcard__side fcard__side--back fcard__side--back-1">
                <div class="fcard__description rotate"><%= hiragana %><br>
                <h3><%= romaji %></h3>
                </div>
     
              </div>
            </div>
     
            <% } %>
        </div>
      </div>
     </section>
      <% } %>
</div> <!-- container -->
</section>