  <section class="content">
  <div class="container">
  <div class="row fcards">

    <% for (let i = 0; i < user.vocab.length; i++) { 
            let values = Object.values(user.vocab[i]);
            let finalValues = Object.values(values[0]);
            let english = Object.keys(values[0]);
            let romaji = '';
            for (let k = 0; k < english.length; k++) {
              let syllable = english[k].slice(2, 10);
              romaji += syllable;
            }
            let hiragana = '';
            for (let j = 0; j < finalValues.length; j++) {
              hiragana += finalValues[j];
            }
        %>
        <div class="col-sm-4 fcard">
          <div class="fcard__side fcard__side--front fcard__side--front-1">
            <div class="fcard__description"><%= Object.keys(user.vocab[i]) %></div>
          </div>
          <div class="fcard__side fcard__side--back fcard__side--back-1">
            <div class="fcard__description"><%= hiragana %></div>
            <h3><%= romaji %></h3>
          </div>
        </div>

        <% } %>
    </div>
  </div>
</section>