<style>

  .headerText {
      color: white;
  }
  .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("/images/undraw_japan_ubgk.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light headerText">
          Programmatic Japanese
        </h1>
        <h3 class="lead headerText
        ">A language learning resource for developers</h3>
      </div>
    </div>
  </div>
</header>
