<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
  <a class="navbar-brand" href="/"><img height="40" src="../images/sushiScript.svg" alt="logo Sushi Script"></a>
  <div class="ml-auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="d-flex justify-content-end">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../about">About</a>
      </li>
      <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="../users/profile">
            Logged in as <%= user.profile.name %>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../../vocab">
              Vocab
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="../users/flashcards">
                Flash Cards
              </a>
            </li>
        <li class="nav-item">
          <a class="nav-link" href="../users/logout"> Logout </a>
        </li>
        <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="../users/signin"> Login </a>
        </li>
        <% } %>
    </ul>
  </div>
  </div>
  </div>
</nav>
