<!DOCTYPE html>
<html lang="en">
  <% include ./partials/head %>

  <!-- page content -->

  <body>
    <% include ./partials/navbar %>
    <!-- Marketing messaging and featurettes
    ================================================== -->

      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider" />

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">
              A Uniquely Programmatic <br/>
              <span class="text-muted">approach to language learning</span>
            </h2>
<br/>
            <p class="lead">
              The Japanese <a href="https://en.wikipedia.org/wiki/Hiragana" style="color: #EE4422">Hiragana</a> alphabet represents phonetic sounds made by consonant / vowel pairs,
               traditionally represented by a 5 x 10 grid. Thereby easily represented as <a href="https://en.wikipedia.org/wiki/JSON" style="color: #EE4422">JSON</a> objects.
              <br/> <br/>
               Saving Japanese words into a JSON data structures will allow you to re-use them in our learning activities.
            </p>
          </div>
          <div class="col-md-5">
            <pre><code class="json">

    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider" />

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">
            A Uniquely Programmatic <br />
            <span class="text-muted">approach to language learning</span>
          </h2>
          <br />
          <p class="lead">
            The Japanese
            <a href="https://en.wikipedia.org/wiki/Hiragana">Hiragana</a>
            alphabet represents phonetic sounds made by consonant / vowel pairs,
            traditionally represented by a 5 x 10 grid. Thereby easily
            represented as
            <a href="https://en.wikipedia.org/wiki/JSON">JSON</a> objects.
            <br />
            <br />
            Saving Japanese words into a JSON data structures will allow you to
            re-use them in our learning activities.
          </p>
        </div>
        <div class="col-md-5">
          <pre><code class="json">

                {
                  "k": {
                    "a": "か",
                    "i": "き",
                    "u": "く",
                    "e": "け",
                    "o": "こ"
                }
              }
              </code></pre>
        </div>
      </div>
    </div>

    <% include ./partials/footer %>
    <!-- FOOTER -->
    <% include ./partials/bootstrapScripts %>
  </body>

  <!-- Optional JavaScript -->
</html>

<!--  -->
