<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <% include ./partials/bootstrapStyles %>
    <title>Programmatic Japanese</title>
  </head>
  <body>
    <% include ./partials/navbar %>

    <!-- Full Page Image Header with Vertically Centered Content -->
    <% include ./partials/masthead %>

    <!-- Page Content -->
    <section class="py-5">
      <div class="container">
        <% include ./partials/homepageContent %>
      </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include ./partials/bootstrapScripts %>
  </body>
</html>

<!--  -->
