<!DOCTYPE html>
<html lang="en">

    <% include ./partials/head %>
  <body>
    <% include ./partials/navbar %>

    <!-- Page Content -->
    <div style="margin-top: 100px;" class="container">
      <!-- Page Heading -->

      <!-- Project One -->
      <div style="margin: auto; display: block !important;" class="row">
        <% if (success.length > 0) { %>
        <div class="alert alert-primary alert-dismissible show" role="alert">
          <%= success %>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h1 class="my-4">
                JSON Vocabulary
              </h1>
              <pre><code 
            id ="new-obj"
            style ="min-height: 300px;"
            class="json">
            {
              "I, me" : {
                わ : "wa"
                た : "ta"
                し : "shi"
              }
            }
          </code></pre>
              <form method="POST" action="/vocab/addword">
                <div class="col-md">
                  <h3>Type a word in Hiragana</h3>
                  <div>
                    <script src="https://unpkg.com/wanakana"></script>
                    <input type="text" id="vocab-input" name="hiragana" />
                    <script>
                      var textInput = document.getElementById("vocab-input");
                      wanakana.bind(textInput /* options */);
                    </script>
                  </div>
                  <p>
                    The Hiragna Alphabet represents phonetic sounds made by
                    consonant / vowel pairs. <br /><br />
                    Saving a word into a JSON data structure will allow you to
                    re-use it in our games.
                  </p>
                  <h3>Type the English Translation</h3>
                  <p></p>
                  <input required type="text" name="english" id="newVocab" />
                  <br />
                  <br />
                  <button class="btn btn-primary" id="vocabButton">
                    Save JSON
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- /.row -->

        <hr />
      </div>
    </div>
    <!-- /.container -->
    <% include ./partials/bootstrapScripts %>
    <% include ./partials/footer %>
    <script src="/javascripts/vocabSaver.js"></script>
  </body>
</html>
