*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: avenir;
  }
  
  .content {
    height: 100vh;
    width: 100%;
    background: #F6F7EB;
    text-align: center;
    padding: 4em 0;
  }
  
  .cards {
    display: flex;
    justify-content: space-evenly;
  }
  
  .fcard {
    /* width: 25%; */
    position: relative;
    height: 25em;
    perspective: 150em;
  }
  .fcard__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25em;
    backface-visibility: hidden;
    transition: all .6s ease;
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
  }
  .fcard__side--front {
    background-color: #FFF;
  }
  .fcard__side--back {
    color: #FFF;
    transform: rotateY(180deg);
  }
  .fcard__side--back-1 {
    background-image: linear-gradient(to right bottom, #FF3C00, #E94F37);
  }
  .fcard__side--back-2 {
    background-image: linear-gradient(to right bottom, #FF3C00, #E94F37);
  }
  .fcard__side--back-3 {
    background-image: linear-gradient(to right bottom, #FF3C00, #E94F37);
  }
  .fcard:hover .fcard__side--front {
    transform: rotateY(-180deg);
  }
  .fcard:hover .fcard__side--back {
    transform: rotate(0);
  }
  .fcard__description {
    text-transform: uppercase;
    font-size: 5em;
    padding: 1em 0;
  }
  .fcard__description svg {
    width: 1.5em;
    height: 1.5em;
    fill: #FFF;
  }
  