body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.icon-func{
  font-size: 5rem;
  color: #E94F37;
}
.title-section{
  padding-top: 90px;
  padding-bottom: 90px;
}

.sub{
  font-family: 'Fredericka the Great', cursive, 'Times New Roman', serif;
}

.red{
  color: #FF3C00;
}

a{
  color: #0F1A20;
}
.space-top{
  margin-top: 100px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
